{% extends 'base.html'%}
{% block content %}
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card homepage-info">
            <h3 class="nav-item"><a class="nav-link" data-toggle="tab" href="#about">About Food booth</a></h3>
            <p>At food-booth we provide a variety of services i.e. booking a table, ordering food and requesting for delivery. All that happens when you sign up and login using your valid email address and choose the service you want.</p>    
            </div>
            
        </div>
        <div class="col-md-3"></div>
       
    </div>

{% endblock %}