 
{% extends 'base.html' %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block content %}

        <div class="text-white text-center py-5 px-4 my-5">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to Pitch perfect</strong></h2>
                <p class="mx-5 mb-5">we aim at providing you with the best services and interaction thruogh various means</p>
                <hr>
                <a class="btn btn-outline-white btn-md" href="/pickup"><i class="fas fa-clone left"></i>
                    <h4>choose table 1</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/entertainment"><i class="fas fa-clone left"></i>
                    <h4>choose table 2</h4>
                </a>
                
                </a>
            </div>
        </div>
    </div>
    <!-- Card Dark -->
    <div class="card">

        <div class="view overlay">

            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
    </div>
    <!-- Card Dark -->

</div>




    <!-- Copyright info-->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        
    </div>
    <!-- Copyright info-->