{% extends 'base.html'%}

{% block content %}
    <div class="container">
      <h2 class="text-center" id="title">Welcome to food Booth</h2>
      <ul>
        <h3 class="nav-item"><a class="nav-link" data-toggle="tab" href="#all">All services</a></h3>
        <li class=" nav-item"><a class=" nav-link" data-toggle="tab" href="#name">Users</a></li>
        <li class=" nav-item"><a class=" nav-link" data-toggle="tab" href="#price">Menu</a></li>
        <li class=" nav-item"><a class=" nav-link" data-toggle="tab" href="#service">Service</a></li>
        <li class=" nav-item"><a class=" nav-link" data-toggle="tab" href="#orders">Orders</a></li>
      </ul>
    </div>
{% endblock%}
